#bloglist {
  border: 4px grey solid;
  list-style: none;

  background-color: white;
  row-gap: 0px;
}

#bloglist > li {
  margin-top: 1em;
}

.blogitem {
}

a {
  text-decoration: none;
}

a > p {
  color: black;
}
