/*
CSS FOR THE ENTIRE THING
*/

* {
  border: 1px pink solid;
  font-family: "Helvetica Neue", sans-serif;
}

/* NAVBAR */
#navbar > ul {
  padding: 0;
}

li {
  list-style: none;
}

li > a {
  color: inherit;
  text-decoration: none;
}

#siteList > li {
  display: inline;
  padding-left: 6px;
  padding-right: 6px;
}

.siteIcon {
  height: 24px;
  width: 24px;
  display: inline-block;
}

/* Title */
#titleCard {
}

#title {
}

/* Tabs */


/* Blockings */

#left {
  width: 25%;
  position: fixed;
}

#center {
  position: absolute;
  margin-left: 27.5%;
  width: 70%;
}

#right {
}
.grid {
  display: grid;

  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 600px;
}
